body{
    background-image: url('./bg.jfif');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

a{
    font-size: 30px;
    color: unset;
}

.card{
    position: relative;
}

.card .menu{
    z-index: 2;
}

.card .menu .menu-item{
    z-index: 1;
    position: absolute;
    left: -50px;
    width: 150px;
    background-color: white;
    color: black;
    font-size: 30px;
    transition: all 400ms;
}