body{
    background-image: url('./bg.jfif');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

a{
    font-size: 30px;
    color: unset;
}

.card{
    position: relative;
    z-index: 10;
    border: 0px;
}

.card .menu{
    z-index: 1;
}

.card .menu .menu-item{
    position: absolute;
    left: -55px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    overflow: hidden;
    background-color: white;
    color: black;
    font-size: 16px;
    transition: all 600ms;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.card .menu .menu-item span{
    display: none;
}

.card .menu .menu-item svg{
    width: 40px;
    height: 40px;
}

.card .menu .menu-item:hover{
    left: -155px;
    width: 160px;
    justify-content: flex-start;
}

.card .menu .menu-item:hover span{
    display: inline-block;
}

.card .overlap{
    position: absolute;
    top: 0;
    left: 0;
    transition: all 700ms;
    width: 0;
    height: 100%;
    overflow: hidden;
}
.card .overlap .overlap-shadow{
    width: 100%;
    height: 100%;
    display: none;
    transition-duration: 700ms;
    transition-timing-function: ease-in-out;
    position: relative;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
}

.card .overlap .overlap-body{
    width: calc(100% - 20px);
    height: 100%;
    background-color: white;
    padding: 10px;
    display: none;
    position: absolute;
    top: 0;
    z-index: 2;
}

.card .overlap .dismiss{
    font-size: 24px;
    cursor: pointer;
}

.card .overlap .overlap-body .skill-item{
    margin: 10px 0;
}

.card .overlap .overlap-body .skill-item span{
    margin-left: 10px;
}