body{
    background-image: url('./bg.jfif');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

a{
    font-size: 30px;
    color: unset;
}

.card{
    position: relative;
    z-index: 10;
}

.card .menu{
    z-index: 1;
}

.card .menu .menu-item{
    position: absolute;
    left: -55px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    overflow: hidden;
    background-color: white;
    color: black;
    font-size: 16px;
    transition: all 600ms;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.card .menu .menu-item span{
    display: none;
}

.card .menu .menu-item svg{
    width: 40px;
    height: 40px;
}

.card .menu .menu-item:hover{
    left: -155px;
    width: 160px;
    justify-content: flex-start;
}

.card .menu .menu-item:hover span{
    display: inline-block;
}

.card .overlap{
    position: absolute;
    top: 0;
    left: 0;
    transition: all 600px;
    height: 0;
    width: calc(100% - 10px);
    height: 100%;
    background-color: white;
    display: none;
}